<launch>

  <!-- Load URDF directly -->
  <param name="robot_description" textfile="$(find robot1_description)/urdf/robot1.urdf" />

  <!-- Launch other nodes as before -->
  <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui"/>
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find robot1_description)/rviz/display.rviz" />

</launch>

